<div class="alert alert-danger" role="alert">
  <h1>aetbot</h1>
  <strong>Warning!</strong> This is a Development version of SynthesisBot. New code is tested here. Please keep this in mind before you use this bot.
</div>
